@model IEnumerable<Practicaprogramada005.Models.Solicitude>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Nueva Solicitud</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Idusuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datsauto1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datsauto2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datsauto3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datsauto4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estadode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servicios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mecanico)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Idusuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datsauto1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datsauto2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datsauto3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datsauto4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estadode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servicios.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mecanico)
            </td>
            <td>
                @{
                    if(User.Identity.Name == item.Idusuario){
                <a asp-action="Details" asp-route-id="@item.SolicitudesId">Detalle</a>
                <a asp-action="Delete" asp-route-id="@item.SolicitudesId">Eliminar</a>
                    }
                }
                    @{
                        if (User.IsInRole("Mecanico"))
                        {
                            <a asp-action="Asignar" asp-route-id="@item.SolicitudesId">Asigbarte</a>
                            <a asp-action="Details" asp-route-id="@item.SolicitudesId">Detalle</a>
                        }
                    }
            </td>
        </tr>
}
    </tbody>
</table>
