@model IEnumerable<Practicaprogramada005.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@{
        <p>
            <a asp-action="Create">Create New</a>
        </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resindencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            if(User.Identity.Name == item.Nombre){
                         <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resindencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCliente">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCliente">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCliente">Delete</a>
            </td>
                </tr>

            }

        }
    </tbody>
</table>
